extends layout
//importing everything below into block content1 on layout.jade ===================================
block content1
    body.aboutBG 
    .jumbotron(style='background:white !important')
      .container
        #tab-1.links
          h1.ml8
            span.letters-container
              span.letters.letters-left Spa
              span.letters.bang !
            span.circle.circle-white
            span.circle.circle-dark
            span.circle.circle-container
              span.circle.circle-dark-dashed
    // <div class="jumbotron jumbotron-fluid footer" id="bottom">
    .container
      h6.description
        bold About Spa!
      p
        | SPA is simple.  "If you need massage or facial then schedule in SPA".  Started by GW Coding Bootcamp Students Filip, Tina and Monika,
       
      
    // </div>
    br
    br
    br
    // <div class="jumbotron jumbotron-fluid footer" id="bottom">
    .container
      .row
          .col-lg-12.text-center
            h6.description OUR TEAM
            .row.pt-md
              .col-lg-3.col-md-3.col-sm-4.col-xs-12.profile
                .img-box
                  img.hover-image(src='')
                  ul.text-center
                    a(href='')
                      li
                        i.fa.fa-github
                    a(href='')
                      li
                        i.fa.fa-linkedin
               
                h2 About me
                
              .col-lg-3.col-md-3.col-sm-4.col-xs-12.profile
                .img-box
                  img.hover-image(src='')
                  ul.text-center
                    a(href='')
                      li
                        i.fa.fa-github
                    a(href='')
                      li
                        i.fa.fa-linkedin
              
                h2 About me
                
              .col-lg-3.col-md-3.col-sm-4.col-xs-12.profile
                .img-box
                  img.hover-image(src='')
                  ul.text-center
                    a(href='')
                      li
                        i.fa.fa-github
                    a(href='')
                      li
                        i.fa.fa-linkedin
                h2 About me
               
              .col-lg-3.col-md-3.col-sm-4.col-xs-12.profile
                .img-box
                  img.hover-image(src='')
                  ul.text-center
                    a(href='')
                      li
                        i.fa.fa-github
                    a(href='')
                      li
                        i.fa.fa-linkedin
                h2 About me
      // </div>
    footer.footer
      .container-fluid
        p.text-center.footerFont  Copyright 2020 SPA! 


