//extent layout.jade ==============================================================================
extends layout
//importing everything below into block content1 on layout.jade ===================================
block content1
      .container
            .row
              .col-md-2
                button#hotStoneMassage.btn.btn-primary Hot Stone Massage
              .col-md-2
                button#swidishMassage.btn.btn-primary Swidish Massage
              .col-md-2
                button#womensFacial.btn.btn-primary Womens Facial
              .col-md-2
                button#mansFacial.btn.btn-primary Mans Facial
              .col-md-2
                button#deepTissueMassage.btn.btn-primary Deep Tissue Massage
              .col-md-2
                button#treatment.btn.btn-primary Treatment
        .rowBackground
          .row
            #userPostedAppointment


block content2
    .container
      .row
        .offset-md-7.col-md-2
          a.btn.btn-primary(href='/create') Schedule Appointment
        .col-md-2
          a.btn.btn-primary(href='/user/settings/:user') Account Settings
        .col-md-1
          button#logoutSubmit.btn.btn-primary(type='submit') Log Out

